core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
inputs/
jupyter_notebooks/models-versions.ipynb
outputs/v1/model_V1/disease_identification_model.keras
outputs/v1/model_V2/disease_identification_model.keras